USE [ProjektKlubRozrywki]
GO
/****** Object:  Table [dbo].[Produkty]    Script Date: 10.06.2018 23:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produkty](
	[id_produkt] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_produktu] [varchar](30) NOT NULL,
	[cena_za_porcje] [money] NULL,
	[id_kategoria] [int] NOT NULL,
	[producent] [varchar](50) NULL,
	[stan_magazyn(w kg)] [float] NULL,
	[gramatura_porcji] [float] NULL,
	[id_dostawca] [int] NOT NULL,
 CONSTRAINT [PK_Produkty] PRIMARY KEY CLUSTERED 
(
	[id_produkt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zamowienia]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zamowienia](
	[id_zamowienie] [int] IDENTITY(1,1) NOT NULL,
	[ilosc] [tinyint] NOT NULL,
	[id_produkt] [int] NULL,
	[id_stanowisko] [int] NULL,
	[id_kasa] [tinyint] NOT NULL,
	[data_zamowienia] [datetime] NOT NULL,
 CONSTRAINT [PK_SzczegolySprzedazy] PRIMARY KEY CLUSTERED 
(
	[id_zamowienie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[sprzedane_produkty_w_ostatnim_msc]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[sprzedane_produkty_w_ostatnim_msc]
AS
SELECT  Z.id_produkt,P.nazwa_produktu, SUM(ilosc) ilosc_sprzedanych 
FROM Produkty P JOIN Zamowienia Z ON P.id_produkt=Z.id_produkt 
WHERE Z.data_zamowienia BETWEEN  CAST(GETDATE()-30 AS DATE) AND CAST(GETDATE() AS DATE)
GROUP BY Z.id_produkt,P.nazwa_produktu

GO
/****** Object:  Table [dbo].[Artysci]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artysci](
	[id_artysta] [int] IDENTITY(1,1) NOT NULL,
	[nazwa] [varchar](20) NOT NULL,
	[kontakt] [int] NULL,
	[profesja] [varchar](20) NULL,
	[placa] [money] NOT NULL,
 CONSTRAINT [PK_Artysci] PRIMARY KEY CLUSTERED 
(
	[id_artysta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dostawcy]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dostawcy](
	[id_dostawca] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [varchar](30) NOT NULL,
	[Telefon] [varchar](15) NULL,
	[Ulica] [varchar](20) NULL,
	[Nr] [varchar](6) NULL,
	[Miasto] [varchar](20) NULL,
	[Wojewodztwo] [varchar](20) NULL,
	[Kraj] [varchar](20) NULL,
	[KodPocztowy] [char](6) NULL,
 CONSTRAINT [PK_Dostawcy] PRIMARY KEY CLUSTERED 
(
	[id_dostawca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impreza]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impreza](
	[id_impreza] [int] IDENTITY(1,1) NOT NULL,
	[nazwaImprezy] [varchar](20) NOT NULL,
	[data_imprezy] [date] NOT NULL,
	[cena_wejsciowki] [money] NULL,
 CONSTRAINT [PK_Impreza] PRIMARY KEY CLUSTERED 
(
	[id_impreza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impreza_artysci]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impreza_artysci](
	[id_artysta] [int] NOT NULL,
	[id_impreza] [int] NOT NULL,
 CONSTRAINT [PK_Impreza_artysci] PRIMARY KEY CLUSTERED 
(
	[id_impreza] ASC,
	[id_artysta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Impreza_pracownicy]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Impreza_pracownicy](
	[id_impreza] [int] NOT NULL,
	[id_pracownik] [int] NOT NULL,
 CONSTRAINT [PK_Impreza_pracownicy] PRIMARY KEY CLUSTERED 
(
	[id_pracownik] ASC,
	[id_impreza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kasa]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kasa](
	[id_kasa] [tinyint] IDENTITY(1,1) NOT NULL,
	[stan] [money] NOT NULL,
	[czy_aktywna] [bit] NULL,
	[id_pracownik] [int] NOT NULL,
 CONSTRAINT [PK_Kasa] PRIMARY KEY CLUSTERED 
(
	[id_kasa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategorie]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategorie](
	[id_kategoria] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_kategorii] [varchar](20) NOT NULL,
	[opis] [text] NULL,
 CONSTRAINT [PK_Kategorie] PRIMARY KEY CLUSTERED 
(
	[id_kategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pracownicy]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pracownicy](
	[id_pracownik] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](20) NOT NULL,
	[nazwisko] [varchar](20) NOT NULL,
	[ulica] [varchar](20) NULL,
	[nr_domu] [varchar](5) NULL,
	[miasto] [varchar](20) NULL,
	[wojewodztwo] [varchar](20) NULL,
	[KodPocztowy] [char](6) NULL,
	[obywatelstwo] [varchar](20) NULL,
	[id_stanowisko] [int] NOT NULL,
	[data_zatrudnienia] [date] NULL,
 CONSTRAINT [PK_Pracownicy] PRIMARY KEY CLUSTERED 
(
	[id_pracownik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Premia]    Script Date: 10.06.2018 23:22:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Premia](
	[id_premii] [int] IDENTITY(1,1) NOT NULL,
	[odsetek_premii] [float] NULL,
	[opis] [nvarchar](100) NULL,
 CONSTRAINT [PK_Premia] PRIMARY KEY CLUSTERED 
(
	[id_premii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StanowiskaPracy]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StanowiskaPracy](
	[id_stanowisko] [int] IDENTITY(1,1) NOT NULL,
	[nazwa_stanowiska] [varchar](20) NOT NULL,
	[stawka_godzinowa] [money] NOT NULL,
	[opis] [text] NULL,
 CONSTRAINT [PK_StanowiskaPracy] PRIMARY KEY CLUSTERED 
(
	[id_stanowisko] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StanowiskaUslug]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StanowiskaUslug](
	[id_stanowisko] [int] IDENTITY(1,1) NOT NULL,
	[czy_wolne] [bit] NOT NULL,
	[id_usluga] [int] NOT NULL,
 CONSTRAINT [PK_StanowiskaUslug] PRIMARY KEY CLUSTERED 
(
	[id_stanowisko] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Urlopy]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Urlopy](
	[id_pracownik] [int] NOT NULL,
	[od_kiedy] [date] NOT NULL,
	[do_kiedy] [date] NOT NULL,
 CONSTRAINT [FK_Urlopy] PRIMARY KEY CLUSTERED 
(
	[id_pracownik] ASC,
	[od_kiedy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usluga]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usluga](
	[id_usluga] [int] IDENTITY(1,1) NOT NULL,
	[rodzaj_uslugi] [varchar](20) NOT NULL,
	[cena] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Usluga] PRIMARY KEY CLUSTERED 
(
	[id_usluga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wyplata]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wyplata](
	[id_pracownik] [int] NOT NULL,
	[data_wyplaty] [date] NOT NULL,
	[ilosc_godzin] [int] NOT NULL,
	[id_premia] [int] NULL,
 CONSTRAINT [PK_wyplata] PRIMARY KEY CLUSTERED 
(
	[id_pracownik] ASC,
	[data_wyplaty] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Artysci] ON 

INSERT [dbo].[Artysci] ([id_artysta], [nazwa], [kontakt], [profesja], [placa]) VALUES (1, N'Gromee', 601628520, N'DJ', 2000.0000)
INSERT [dbo].[Artysci] ([id_artysta], [nazwa], [kontakt], [profesja], [placa]) VALUES (2, N'Donguralesko', 233333333, N'Raper', 5000.0000)
INSERT [dbo].[Artysci] ([id_artysta], [nazwa], [kontakt], [profesja], [placa]) VALUES (3, N'DjOzzzii', 555555555, N'DJ', 1000.0000)
SET IDENTITY_INSERT [dbo].[Artysci] OFF
SET IDENTITY_INSERT [dbo].[Dostawcy] ON 

INSERT [dbo].[Dostawcy] ([id_dostawca], [Nazwa], [Telefon], [Ulica], [Nr], [Miasto], [Wojewodztwo], [Kraj], [KodPocztowy]) VALUES (1, N'SuperCompany', N'666-555-444', N'Dluga', N'33', N'Gdansk', N'Pomorskie', N'Polska', N'81-400')
INSERT [dbo].[Dostawcy] ([id_dostawca], [Nazwa], [Telefon], [Ulica], [Nr], [Miasto], [Wojewodztwo], [Kraj], [KodPocztowy]) VALUES (2, N'Detronix', N'622-255-422', N'Olbrzymia', N'11', N'Gdansk', N'Pomorskie', N'Polska', N'81-400')
INSERT [dbo].[Dostawcy] ([id_dostawca], [Nazwa], [Telefon], [Ulica], [Nr], [Miasto], [Wojewodztwo], [Kraj], [KodPocztowy]) VALUES (3, N'GoodAlko', N'666-555-444', N'Mistrza', N'3', N'Suwalki', N'Warminsko-Mazurskie', N'Polska', N'23-422')
SET IDENTITY_INSERT [dbo].[Dostawcy] OFF
SET IDENTITY_INSERT [dbo].[Impreza] ON 

INSERT [dbo].[Impreza] ([id_impreza], [nazwaImprezy], [data_imprezy], [cena_wejsciowki]) VALUES (1, N'Wielkie opijanie', CAST(N'2018-05-12' AS Date), 20.0000)
INSERT [dbo].[Impreza] ([id_impreza], [nazwaImprezy], [data_imprezy], [cena_wejsciowki]) VALUES (2, N'Donguralesko&Koldi', CAST(N'2018-05-19' AS Date), 30.0000)
INSERT [dbo].[Impreza] ([id_impreza], [nazwaImprezy], [data_imprezy], [cena_wejsciowki]) VALUES (3, N'Patricio Zenone', CAST(N'2018-05-26' AS Date), 25.0000)
SET IDENTITY_INSERT [dbo].[Impreza] OFF
INSERT [dbo].[Impreza_artysci] ([id_artysta], [id_impreza]) VALUES (5, 1)
INSERT [dbo].[Impreza_artysci] ([id_artysta], [id_impreza]) VALUES (2, 2)
INSERT [dbo].[Impreza_artysci] ([id_artysta], [id_impreza]) VALUES (8, 2)
INSERT [dbo].[Impreza_pracownicy] ([id_impreza], [id_pracownik]) VALUES (1, 1)
INSERT [dbo].[Impreza_pracownicy] ([id_impreza], [id_pracownik]) VALUES (3, 1)
INSERT [dbo].[Impreza_pracownicy] ([id_impreza], [id_pracownik]) VALUES (4, 1)
SET IDENTITY_INSERT [dbo].[Kasa] ON 

INSERT [dbo].[Kasa] ([id_kasa], [stan], [czy_aktywna], [id_pracownik]) VALUES (1, 500.0000, 1, 2)
INSERT [dbo].[Kasa] ([id_kasa], [stan], [czy_aktywna], [id_pracownik]) VALUES (2, 330.0000, 1, 3)
INSERT [dbo].[Kasa] ([id_kasa], [stan], [czy_aktywna], [id_pracownik]) VALUES (3, 0.0000, 1, 4)
SET IDENTITY_INSERT [dbo].[Kasa] OFF
SET IDENTITY_INSERT [dbo].[Kategorie] ON 

INSERT [dbo].[Kategorie] ([id_kategoria], [nazwa_kategorii], [opis]) VALUES (1, N'Wodka', N'Alkohol 40 % +++')
INSERT [dbo].[Kategorie] ([id_kategoria], [nazwa_kategorii], [opis]) VALUES (2, N'Whisky/Burboun', N'Alkohol 40 % +++')
INSERT [dbo].[Kategorie] ([id_kategoria], [nazwa_kategorii], [opis]) VALUES (3, N'Gin', N'Alkohol 40 % +++')
SET IDENTITY_INSERT [dbo].[Kategorie] OFF
SET IDENTITY_INSERT [dbo].[Pracownicy] ON 

INSERT [dbo].[Pracownicy] ([id_pracownik], [imie], [nazwisko], [ulica], [nr_domu], [miasto], [wojewodztwo], [KodPocztowy], [obywatelstwo], [id_stanowisko], [data_zatrudnienia]) VALUES (1, N'Jerzy', N'Reclaw', N'Blotna', N'3A/3', N'Koscierzyna', N'Pomorskie', N'83-400', N'Polskie', 11, CAST(N'2009-05-20' AS Date))
INSERT [dbo].[Pracownicy] ([id_pracownik], [imie], [nazwisko], [ulica], [nr_domu], [miasto], [wojewodztwo], [KodPocztowy], [obywatelstwo], [id_stanowisko], [data_zatrudnienia]) VALUES (2, N'Marcel', N'Zmeczerowski', N'Niewidzialna', N'3', N'Koscierzyna', N'Pomorskie', N'83-400', N'Niemieckie', 11, CAST(N'2009-05-20' AS Date))
INSERT [dbo].[Pracownicy] ([id_pracownik], [imie], [nazwisko], [ulica], [nr_domu], [miasto], [wojewodztwo], [KodPocztowy], [obywatelstwo], [id_stanowisko], [data_zatrudnienia]) VALUES (3, N'Gregor', N'Makeev', N'Sikorskiego', N'4A/5', N'Gdansk', N'Pomorskie', N'81-500', N'Rosyjskie', 2, CAST(N'2013-02-10' AS Date))
SET IDENTITY_INSERT [dbo].[Pracownicy] OFF
SET IDENTITY_INSERT [dbo].[Premia] ON 

INSERT [dbo].[Premia] ([id_premii], [odsetek_premii], [opis]) VALUES (1, 0.1, N'Premia za dobre sprawowanie')
INSERT [dbo].[Premia] ([id_premii], [odsetek_premii], [opis]) VALUES (2, 0.15, N'Premia za wyniki sprzedazy')
INSERT [dbo].[Premia] ([id_premii], [odsetek_premii], [opis]) VALUES (3, 0.15, N'Premia swiateczna')
SET IDENTITY_INSERT [dbo].[Premia] OFF
SET IDENTITY_INSERT [dbo].[Produkty] ON 

INSERT [dbo].[Produkty] ([id_produkt], [nazwa_produktu], [cena_za_porcje], [id_kategoria], [producent], [stan_magazyn(w kg)], [gramatura_porcji], [id_dostawca]) VALUES (1, N'Zubrowka', 8.0000, 1, N'Polmos', 67.5, 50, 3)
INSERT [dbo].[Produkty] ([id_produkt], [nazwa_produktu], [cena_za_porcje], [id_kategoria], [producent], [stan_magazyn(w kg)], [gramatura_porcji], [id_dostawca]) VALUES (2, N'Sobieski', 9.0000, 1, N'Polmos', 29.700000000000003, 50, 3)
INSERT [dbo].[Produkty] ([id_produkt], [nazwa_produktu], [cena_za_porcje], [id_kategoria], [producent], [stan_magazyn(w kg)], [gramatura_porcji], [id_dostawca]) VALUES (3, N'Finlandia', 10.0000, 1, N'LuxuryVodka', 30, 50, 3)
SET IDENTITY_INSERT [dbo].[Produkty] OFF
SET IDENTITY_INSERT [dbo].[StanowiskaPracy] ON 

INSERT [dbo].[StanowiskaPracy] ([id_stanowisko], [nazwa_stanowiska], [stawka_godzinowa], [opis]) VALUES (1, N'Barman', 15.0000, N'Osoba najbardziej odpowiedzialna za bar w firmie, do jej obowiazkow nalezy miedzy innymi kontrola barmanow')
INSERT [dbo].[StanowiskaPracy] ([id_stanowisko], [nazwa_stanowiska], [stawka_godzinowa], [opis]) VALUES (2, N'Kasjer', 13.0000, N'Osoba ta zajmuje sie kasowaniem biletow przy wejsciu na koncert')
INSERT [dbo].[StanowiskaPracy] ([id_stanowisko], [nazwa_stanowiska], [stawka_godzinowa], [opis]) VALUES (3, N'Kelner', 13.0000, N'Kelnerzy i kelnerki dbaja o to by goscie VIP mieli wszystko czego sobie zapragna')
SET IDENTITY_INSERT [dbo].[StanowiskaPracy] OFF
SET IDENTITY_INSERT [dbo].[StanowiskaUslug] ON 

INSERT [dbo].[StanowiskaUslug] ([id_stanowisko], [czy_wolne], [id_usluga]) VALUES (1, 0, 1)
INSERT [dbo].[StanowiskaUslug] ([id_stanowisko], [czy_wolne], [id_usluga]) VALUES (2, 0, 1)
INSERT [dbo].[StanowiskaUslug] ([id_stanowisko], [czy_wolne], [id_usluga]) VALUES (3, 1, 1)
SET IDENTITY_INSERT [dbo].[StanowiskaUslug] OFF
INSERT [dbo].[Urlopy] ([id_pracownik], [od_kiedy], [do_kiedy]) VALUES (1, CAST(N'2018-06-04' AS Date), CAST(N'2018-06-09' AS Date))
INSERT [dbo].[Urlopy] ([id_pracownik], [od_kiedy], [do_kiedy]) VALUES (1, CAST(N'2018-06-10' AS Date), CAST(N'2018-06-15' AS Date))
INSERT [dbo].[Urlopy] ([id_pracownik], [od_kiedy], [do_kiedy]) VALUES (3, CAST(N'2018-03-09' AS Date), CAST(N'2018-03-18' AS Date))
SET IDENTITY_INSERT [dbo].[Usluga] ON 

INSERT [dbo].[Usluga] ([id_usluga], [rodzaj_uslugi], [cena]) VALUES (1, N'Bilard', N'15')
INSERT [dbo].[Usluga] ([id_usluga], [rodzaj_uslugi], [cena]) VALUES (2, N'Pilkarzyki', N'8')
INSERT [dbo].[Usluga] ([id_usluga], [rodzaj_uslugi], [cena]) VALUES (3, N'Darts', N'8')
SET IDENTITY_INSERT [dbo].[Usluga] OFF
INSERT [dbo].[Wyplata] ([id_pracownik], [data_wyplaty], [ilosc_godzin], [id_premia]) VALUES (1, CAST(N'2018-05-01' AS Date), 230, NULL)
INSERT [dbo].[Wyplata] ([id_pracownik], [data_wyplaty], [ilosc_godzin], [id_premia]) VALUES (2, CAST(N'2018-05-01' AS Date), 189, NULL)
INSERT [dbo].[Wyplata] ([id_pracownik], [data_wyplaty], [ilosc_godzin], [id_premia]) VALUES (2, CAST(N'2018-06-01' AS Date), 140, NULL)
SET IDENTITY_INSERT [dbo].[Zamowienia] ON 

INSERT [dbo].[Zamowienia] ([id_zamowienie], [ilosc], [id_produkt], [id_stanowisko], [id_kasa], [data_zamowienia]) VALUES (1, 1, 1, NULL, 1, CAST(N'2018-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Zamowienia] ([id_zamowienie], [ilosc], [id_produkt], [id_stanowisko], [id_kasa], [data_zamowienia]) VALUES (2, 4, 1, NULL, 1, CAST(N'2018-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Zamowienia] ([id_zamowienie], [ilosc], [id_produkt], [id_stanowisko], [id_kasa], [data_zamowienia]) VALUES (3, 3, 2, NULL, 1, CAST(N'2018-01-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Zamowienia] OFF
/****** Object:  Index [UQ__Impreza__D213CBA7F0DF053E]    Script Date: 10.06.2018 23:22:31 ******/
ALTER TABLE [dbo].[Impreza] ADD UNIQUE NONCLUSTERED 
(
	[data_imprezy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Stanowis__A378BDF265A8473F]    Script Date: 10.06.2018 23:22:31 ******/
ALTER TABLE [dbo].[StanowiskaPracy] ADD UNIQUE NONCLUSTERED 
(
	[nazwa_stanowiska] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kasa] ADD  DEFAULT ((300)) FOR [stan]
GO
ALTER TABLE [dbo].[Impreza_artysci]  WITH CHECK ADD  CONSTRAINT [FK_Impreza_artysci_Artysci] FOREIGN KEY([id_artysta])
REFERENCES [dbo].[Artysci] ([id_artysta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Impreza_artysci] CHECK CONSTRAINT [FK_Impreza_artysci_Artysci]
GO
ALTER TABLE [dbo].[Impreza_artysci]  WITH CHECK ADD  CONSTRAINT [FK_Impreza_artysci_Impreza] FOREIGN KEY([id_impreza])
REFERENCES [dbo].[Impreza] ([id_impreza])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Impreza_artysci] CHECK CONSTRAINT [FK_Impreza_artysci_Impreza]
GO
ALTER TABLE [dbo].[Impreza_pracownicy]  WITH CHECK ADD  CONSTRAINT [FK_Impreza_pracownicy_Impreza] FOREIGN KEY([id_impreza])
REFERENCES [dbo].[Impreza] ([id_impreza])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Impreza_pracownicy] CHECK CONSTRAINT [FK_Impreza_pracownicy_Impreza]
GO
ALTER TABLE [dbo].[Impreza_pracownicy]  WITH CHECK ADD  CONSTRAINT [FK_Impreza_pracownicy_Pracownicy] FOREIGN KEY([id_impreza])
REFERENCES [dbo].[Pracownicy] ([id_pracownik])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Impreza_pracownicy] CHECK CONSTRAINT [FK_Impreza_pracownicy_Pracownicy]
GO
ALTER TABLE [dbo].[Kasa]  WITH CHECK ADD  CONSTRAINT [FK_Kasa_Pracownicy] FOREIGN KEY([id_pracownik])
REFERENCES [dbo].[Pracownicy] ([id_pracownik])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Kasa] CHECK CONSTRAINT [FK_Kasa_Pracownicy]
GO
ALTER TABLE [dbo].[Pracownicy]  WITH CHECK ADD  CONSTRAINT [FK_Pracownicy_StanowiskaPracy] FOREIGN KEY([id_stanowisko])
REFERENCES [dbo].[StanowiskaPracy] ([id_stanowisko])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pracownicy] CHECK CONSTRAINT [FK_Pracownicy_StanowiskaPracy]
GO
ALTER TABLE [dbo].[Produkty]  WITH CHECK ADD  CONSTRAINT [FK_Produkty_Dostawcy] FOREIGN KEY([id_dostawca])
REFERENCES [dbo].[Dostawcy] ([id_dostawca])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Produkty] CHECK CONSTRAINT [FK_Produkty_Dostawcy]
GO
ALTER TABLE [dbo].[Produkty]  WITH CHECK ADD  CONSTRAINT [FK_Produkty_Kategorie] FOREIGN KEY([id_kategoria])
REFERENCES [dbo].[Kategorie] ([id_kategoria])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Produkty] CHECK CONSTRAINT [FK_Produkty_Kategorie]
GO
ALTER TABLE [dbo].[StanowiskaUslug]  WITH CHECK ADD  CONSTRAINT [FK_StanowiskaUslug_Usluga] FOREIGN KEY([id_usluga])
REFERENCES [dbo].[Usluga] ([id_usluga])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StanowiskaUslug] CHECK CONSTRAINT [FK_StanowiskaUslug_Usluga]
GO
ALTER TABLE [dbo].[Urlopy]  WITH CHECK ADD  CONSTRAINT [FK_Urlopy_Pracownicy] FOREIGN KEY([id_pracownik])
REFERENCES [dbo].[Pracownicy] ([id_pracownik])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Urlopy] CHECK CONSTRAINT [FK_Urlopy_Pracownicy]
GO
ALTER TABLE [dbo].[Wyplata]  WITH CHECK ADD  CONSTRAINT [FK_Wyplata_Pracownicy] FOREIGN KEY([id_pracownik])
REFERENCES [dbo].[Pracownicy] ([id_pracownik])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wyplata] CHECK CONSTRAINT [FK_Wyplata_Pracownicy]
GO
ALTER TABLE [dbo].[Wyplata]  WITH CHECK ADD  CONSTRAINT [FK_Wyplata_Premia] FOREIGN KEY([id_premia])
REFERENCES [dbo].[Premia] ([id_premii])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wyplata] CHECK CONSTRAINT [FK_Wyplata_Premia]
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_SzczegolySprzedazy_Produkty] FOREIGN KEY([id_produkt])
REFERENCES [dbo].[Produkty] ([id_produkt])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zamowienia] CHECK CONSTRAINT [FK_SzczegolySprzedazy_Produkty]
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_Zamowienia_Kasa] FOREIGN KEY([id_kasa])
REFERENCES [dbo].[Kasa] ([id_kasa])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zamowienia] CHECK CONSTRAINT [FK_Zamowienia_Kasa]
GO
ALTER TABLE [dbo].[Zamowienia]  WITH CHECK ADD  CONSTRAINT [FK_Zamowienia_StanowiskaUslug] FOREIGN KEY([id_stanowisko])
REFERENCES [dbo].[StanowiskaUslug] ([id_stanowisko])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Zamowienia] CHECK CONSTRAINT [FK_Zamowienia_StanowiskaUslug]
GO
ALTER TABLE [dbo].[Artysci]  WITH CHECK ADD CHECK  (([placa]>(100)))
GO
ALTER TABLE [dbo].[StanowiskaPracy]  WITH CHECK ADD CHECK  (([stawka_godzinowa]>=(10)))
GO
ALTER TABLE [dbo].[Wyplata]  WITH CHECK ADD CHECK  (([ilosc_godzin]<(500)))
GO
/****** Object:  StoredProcedure [dbo].[Dodaj_urlop]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Dodaj_urlop] (@id_pracownik INT, @na_ile_dni INT)
AS
IF @na_ile_dni < 1
	RAISERROR('Nie mozna dac urlopu na 0 lub mniej dni',1,1)
ELSE 
BEGIN
DECLARE @doKiedy DATE
SET @doKiedy = (SELECT GETDATE() + @na_ile_dni)
INSERT INTO Urlopy VALUES (@id_pracownik,CAST(GETDATE() AS DATE),@doKiedy)
END
GO
/****** Object:  StoredProcedure [dbo].[DodajPracownika]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DodajPracownika] (@data_wyplaty DATE)
AS
IF (SELECT TOP 1 data_imprezy FROM Impreza Order by id_impreza DESC ) > GETDATE()
BEGIN
DECLARE @id_pracownik INT
SET @id_pracownik = (SELECT TOP 1 id_pracownik FROM Wyplata WHERE data_wyplaty = @data_wyplaty ORDER BY ilosc_godzin )
DECLARE @id_impreza INT
SET @id_impreza = (SELECT TOP 1 id_impreza FROM Impreza ORDER BY id_impreza DESC)
IF NOT EXISTS (SELECT id_pracownik FROM Impreza_pracownicy WHERE id_pracownik = @id_pracownik AND id_impreza = @id_impreza)
INSERT INTO Impreza_pracownicy VALUES (@id_impreza,@id_pracownik)
ELSE
PRINT 'Pracownik jest juz na imprezie'
END
ELSE
PRINT 'Nie ma nastepnej imprezy w bazie'
---przyklad--
EXEC DodajPracownika '2018-06-01'
GO
/****** Object:  StoredProcedure [dbo].[przyznaj_premie]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
----PROCEDUR NR 3
------------------PRZYZNANIE PREMI PRACOWNIKOWI------------------
CREATE PROC [dbo].[przyznaj_premie]
@id_pracownik INT,
@id_premii INT
AS
UPDATE Wyplata
SET id_premia = @id_premii
WHERE id_pracownik = @id_pracownik AND MONTH(data_wyplaty) = MONTH(GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[sprzedaj_towar]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---PROCEDUR NR 1
------------------SPRZEDARZ TOWARU------------------
CREATE PROC [dbo].[sprzedaj_towar]
@id_towar INT,
@ilosc INT,
@kasa INT
AS
IF @ilosc < 0
BEGIN
	RAISERROR('Nie moze sprzedac ujemnej ilosci towaru',1,1)
	ROLLBACK
END
INSERT INTO Zamowienia(ilosc, id_produkt, id_kasa, data_zamowienia)
VALUES (@ilosc, @id_towar, @kasa, getdate())
GO
/****** Object:  StoredProcedure [dbo].[sprzedaj_usluge]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sprzedaj_usluge] 
@id_stanowisko INT,
@ilosc INT,
@kasa INT
AS
IF @ilosc < 0
	RAISERROR('Nie moze zamowic ujemnej ilosci uslugi',1,1)
ELSE 
BEGIN
IF EXISTS (SELECT czy_wolne FROM StanowiskaUslug WHERE id_stanowisko=@id_stanowisko AND czy_wolne = 1 ) 
BEGIN
print ('Jest wolne stanowisko')
INSERT INTO Zamowienia(ilosc, id_stanowisko, id_kasa, data_zamowienia)
VALUES (@ilosc, @id_stanowisko, @kasa, getdate())
END
ELSE
print ('stanowisko jest zajęte')
END
GO
/****** Object:  StoredProcedure [dbo].[Zamowienie_towaru]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Zamowienie_towaru](@id_produkt INT ,@ilosc FLOAT)
AS
IF @ilosc < 0
BEGIN
	RAISERROR('Nie moze zamowic ujemnej ilosci towaru',1,1)
END
ELSE
BEGIN
UPDATE Produkty
SET [stan_magazyn(w kg)] = [stan_magazyn(w kg)] + @ilosc
WHERE id_produkt = @id_produkt
END
GO
/****** Object:  StoredProcedure [dbo].[zatrudnienie_pracownika]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[zatrudnienie_pracownika]
@imie varchar(20),
@nazwisko varchar(20),
@ulica varchar(40),
@nr_domu int,
@misato varchar(30),
@wojewodztwo varchar(30),
@kod_pocztowy int,
@obywatelstwo varchar(20),
@id_stanowisko INT,
@data_zatrudnienia date
AS
IF @id_stanowisko = 11
PRINT 'Nie mozna dodac szefa'
ELSE
INSERT INTO Pracownicy VALUES
(@imie, @nazwisko, @ulica, @nr_domu, @misato,
@wojewodztwo, @kod_pocztowy, @obywatelstwo, @id_stanowisko, @data_zatrudnienia)
GO
/****** Object:  StoredProcedure [dbo].[ZmienArtyste]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZmienArtyste] (@nazwa VARCHAR(20),@kontakt INT, @profesja VARCHAR(20), @placa MONEY, @id_impreza INT, @id_artysta INT)
AS
INSERT INTO Artysci VALUES (@nazwa,@kontakt,@profesja,@placa)
UPDATE Impreza_artysci
SET id_artysta = (SELECT TOP 1 id_artysta FROM Artysci ORDER BY id_artysta DESC)
WHERE id_impreza = @id_impreza AND id_artysta = @id_artysta
--przyklad--
EXEC ZmienArtyste Marianek,664855555,Piosenkarz,3000,2,4
SELECT * FROM Artysci JOIN Impreza_artysci ON Artysci.id_artysta=Impreza_artysci.id_artysta
GO
/****** Object:  StoredProcedure [dbo].[zwieksz_zarobki]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[zwieksz_zarobki] (@procent FLOAT,@id_stanowisko INT)
AS
UPDATE StanowiskaPracy
SET stawka_godzinowa = stawka_godzinowa + (stawka_godzinowa * @procent)/100
WHERE id_stanowisko = @id_stanowisko
----Przyklad-----
EXEC zwieksz_zarobki 20,11
GO
/****** Object:  StoredProcedure [dbo].[zwolnij_pracownika]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[zwolnij_pracownika]
@id_pracownik INT
AS
IF EXISTS (SELECT id_pracownik FROM Pracownicy WHERE id_pracownik = @id_pracownik)
DELETE Pracownicy
WHERE id_pracownik = @id_pracownik
ELSE
PRINT('Nie ma takiego pracownika')
GO
/****** Object:  StoredProcedure [dbo].[ZwolnijStanowisko]    Script Date: 10.06.2018 23:22:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZwolnijStanowisko] (@nrStanowiska INT)
AS
IF (SELECT czy_wolne FROM StanowiskaUslug WHERE id_stanowisko = @nrStanowiska) = 0 
BEGIN
UPDATE StanowiskaUslug
SET czy_wolne = 1
WHERE id_stanowisko = @nrStanowiska
END
ELSE
PRINT 'Stanowisko jest wolne!!!'  ---Przy probie wykonanie tego na wolnym stanowisku wyskakuje komunikat ---
---przyklad---
EXEC ZwolnijStanowisko 3
SELECT * FROM StanowiskaUslug
GO
